[project]
	description = System wide USB gadgets and FunctionFS based services manager
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Krzysztof Opasiak (kopasiak)
	owner = group user/gadgetd
[access "refs/for/refs/*"]
	read = group user/Krzysztof Opasiak (kopasiak)
	read = group user/gadgetd
	push = group user/Krzysztof Opasiak (kopasiak)
	push = group user/gadgetd
	label-Code-Review = -2..+2 group user/Krzysztof Opasiak (kopasiak)
	label-Code-Review = -2..+2 group user/gadgetd
	label-Verified = -1..+1 group user/Krzysztof Opasiak (kopasiak)
	label-Verified = -1..+1 group user/gadgetd
	rebase = group user/Krzysztof Opasiak (kopasiak)
	rebase = group user/gadgetd
	removeReviewer = group user/Krzysztof Opasiak (kopasiak)
	removeReviewer = group user/gadgetd
	submit = group user/Krzysztof Opasiak (kopasiak)
	submit = group user/gadgetd
[access "refs/heads/*"]
	read = group user/Krzysztof Opasiak (kopasiak)
	read = group user/gadgetd
	create = group user/Krzysztof Opasiak (kopasiak)
	create = group user/gadgetd
	push = group user/Krzysztof Opasiak (kopasiak)
	push = +force group user/gadgetd
	pushMerge = group user/Krzysztof Opasiak (kopasiak)
	pushMerge = group user/gadgetd
[access "refs/tags/*"]
	push = group user/Krzysztof Opasiak (kopasiak)
	push = +force group user/gadgetd
	pushTag = group user/Krzysztof Opasiak (kopasiak)
	pushTag = group user/gadgetd
	pushSignedTag = group user/Krzysztof Opasiak (kopasiak)
	pushSignedTag = group user/gadgetd
