#
# general configuration section
#
# configfs_mount_point describes where configfs is mounted

[general]
configfs_mount_point /sys/kernel/config

# Device descriptor section
#
# Device desctiptor section represents entire device, usb gadget can have only
# one device descriptor, it secifies some basic information about usb device
#
#
# bcdUSB -> USB Specification Number which device complies too.
# bDeviceClass -> Class Code (Assigned by USB Org) If equal to Zero,
# each interface -> specifies it’s own class code
# bDeviceSubClass -> Subclass Code
# bDeviceProtocol -> Protocol Code
# bMaxPacketSize0 -> Maximum Packet Size for Zero Endpoint.
#                    Valid Sizes are 8, 16, 32, 64
# idVendor -> Vendor ID
# idProduct -> Product ID
# bcdDevice -> Device Release Number
# serial_number -> Serial Number String Descriptor
# manufacturer -> Manufacturer String Descriptor
# product_name -> Product String Descriptor

[device_descriptors]
bcdusb 0x0200
bdeviceclass 0x00
bdevicesubclass 0x00
bdeviceprotocol 0x00
bmaxpacketsize0 0x0040
idvendor 0x04e8
idproduct 0x6866
bcddevice 0x0001
serial_number 02003225
manufacturer "Samsung Electronics Inc."
product_name "Galaxy S III"

[configuration]
gd_configuration "CDC 2xACM+ECM"
